<% users.forEach(function(user){ %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.houseid %></td>
        <td><%= user.apartmentid %></td>
        <td><%= user.phone %></td>
        <td>

            <a href="delete/<%= user.houseid %>" class="btn border-shadow delete">
                <span class="text-gradient"><i class="fa fa-times" aria-hidden="true"></i></span>
            </a>
        </td>
    </tr>
<% }); %>