<!-- Include Header -->
<%- include('include/_header') %>
<!-- /Include Header -->
<h3>Sensors</h3>
<!-- Main -->
<main id="site-main">
    <div class="container">
        
        <!-- form handling-->
        <a href="/addsensor" class="btn btn-sm btn-primary">Add Sensor</a>
        <form action="/" method="POST">
            <table class="table">
                <thead class="thread-dark">
                    <tr>
                    <th>Unique ID</th>
                    <th>Type</th>
                    <th>HouseID</th>
                    <th>ApartmentID</th>
                    <th>Actions</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <% users.forEach(function(user){ %>
                        <tr>
                            <td><%= user.uniqueid %></td>
                            <td><%= user.type %></td>
                            <td><%= user.houseid %></td>
                            <td><%= user.apartmentid %></td>
                            <td>
                                <a href="editsensors/<%= user.uniqueid %>" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fa fa-pencil-alt"></i></span>
                                </a>
                                <a href="deletesensor/<%= user.uniqueid %>" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </form>
        <!-- /form handling-->
    </div>
</main>
<!-- /Main -->

<!-- Include Footer -->
<%- include('include/_footer') %>
<!-- /Include Footer -->